<!DOCTYPE html>
<html>
<head>
  <title>Welcome to <%= fullname %>!</title>
  <link rel="stylesheet" href="/css/stylev2.css">
</head>
<body>
  <h3>Congrats, <%= dname %>! You are now registered.</h3>
  <a href="/">Go to Home</a>
</body>
</html>
